.bg-container{
  background-color: #edfdf6;
}
.bg-emerald-custom {
  background-color: #047857;
}

.bg-emerald-custom-40{
  background-color: #f7fefb;
}
.bg-emerald-custom-50{
  background-color: #ECFDF5;
}